<p style="color: green"><%= notice %></p>

<%= render @paste %>

<div>
  <%= link_to "Edit this paste", edit_paste_path(@paste) %> |
  <%= link_to "Back to pastes", pastes_path %>

  <%= button_to "Destroy this paste", @paste, method: :delete %>
</div>
