<!DOCTYPE html>
<html>
  <center>
  <head>
    <title>Pastebin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body bgcolor="#F8F9F9">
  <table border="0" width="100%" heith="100%">
    <tr>
      <td><center><%= yield %></center></td>
    </tr>
  </table>
  </body>
  </center>
</html>
